#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        ru_abc {
            bindings = <
  &kp Q  &kp W  &kp E  &kp R      &kp T                      &kp Y  &kp U      &kp I  &kp O  &kp P
  &kp A  &kp S  &kp D  &kp F      &kp G                      &kp H  &kp J      &kp K  &kp L  &kp SEMI
  &kp Z  &kp X  &kp C  &kp V      &kp B                      &kp N  &kp M      &none  &none  &mt RS(RU_COMMA) RU_DOT
                       &kp LSHFT  &mo 1  &kp SPACE    &mo 3  &mo 2  &kp RSHFT
            >;

            display-name = "ru_abc";
        };

        move {
            bindings = <
  &kp LSHFT  &kp DELETE  &kp ENTER  &kp TAB    &kp EQUAL                      &kp HOME        &kp PG_UP  &kp UP_ARROW    &kp N9     &kp LEFT_BRACKET
  &kp LCTRL  &kp LALT    &kp EQUAL  &kp EQUAL  &kp EQUAL                      &kp END         &kp LEFT   &kp DOWN_ARROW  &kp RIGHT  &kp RIGHT_BRACKET
  &kp LGUI   &kp EQUAL   &kp F10    &kp EQUAL  &none                          &none           &none      &none           &none      &kp SQT
                                    &trans     &trans     &trans    &kp LALT  &kp LC(LSHIFT)  &kp INS
            >;

            display-name = "move";
        };

        ru_num {
            bindings = <
  &kp N0     &kp EQUAL  &kp EQUAL  &kp EQUAL  &kp EQUAL                      &kp F6     &kp F7     &kp F8     &kp F9     &kp F11
  &kp EQUAL  &kp EQUAL  &kp EQUAL  &kp EQUAL  &kp EQUAL                      &kp F5     &kp F4     &kp F3     &kp F2     &kp F12
  &kp EQUAL  &kp EQUAL  &kp EQUAL  &kp EQUAL  &kp EQUAL                      &kp EQUAL  &kp EQUAL  &kp EQUAL  &kp EQUAL  &kp EQUAL
                                   &kp LSHFT  &kp LCTRL  &kp LALT    &trans  &trans     &kp RCTRL
            >;

            display-name = "ru_num";
        };

        ru_sym {
            bindings = <
  &kp EQUAL        &kp EQUAL  &kp EQUAL  &kp LA(EQUAL)  &kp LC(J)                      &kp EQUAL          &kp EQUAL     &kp EQUAL   &kp EQUAL  &kp EQUAL
  &kp RU_QUESTION  &kp EQUAL  &kp EQUAL  &kp EQUAL      &kp EQUAL                      &none              &kp EQUAL     &kp EQUAL   &kp EQUAL  &kp EQUAL
  &kp EQUAL        &kp EQUAL  &kp EQUAL  &kp RU_BSLH    &kp EQUAL                      &kp TILDE          &none         &kp LS(N3)  &kp EQUAL  &kp EQUAL
                                         &none          &kp LC(Q)  &kp LCTRL    &none  &kp C_VOLUME_DOWN  &kp C_VOL_UP
            >;

            display-name = "ru_sym";
        };

        en_abc {
            display-name = "en_abc";
            bindings = <
  &kp Q  &kp W  &kp E  &kp R      &kp T                      &kp Y  &kp U      &kp I  &kp O  &kp P
  &kp A  &kp S  &kp D  &kp F      &kp G                      &kp H  &kp J      &kp K  &kp L  &kp SEMI
  &kp Z  &kp X  &kp C  &kp V      &kp B                      &kp N  &kp M      &none  &none  &mt COMMA DOT
                       &kp LSHFT  &mo 1  &kp SPACE    &mo 6  &mo 5  &kp RSHFT
            >;
        };

        en_num {
            display-name = "ru_num";
            bindings = <
  &kp N0     &kp EQUAL  &kp EQUAL  &kp EQUAL  &kp EQUAL                      &kp F6     &kp F7     &kp F8     &kp F9     &kp F11
  &kp EQUAL  &kp EQUAL  &kp EQUAL  &kp EQUAL  &kp EQUAL                      &kp F5     &kp F4     &kp F3     &kp F2     &kp F12
  &kp EQUAL  &kp EQUAL  &kp STAR   &kp FSLH   &kp COMMA                      &kp EQUAL  &kp EQUAL  &kp EQUAL  &kp EQUAL  &kp EQUAL
                                   &kp LSHFT  &kp LCTRL  &kp LALT    &trans  &trans     &kp RCTRL
            >;
        };

        en_sym {
            display-name = "en_sym";
            bindings = <
  &kp EQUAL  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp LA(EQUAL)  &kp LC(J)                      &kp EQUAL          &kp CARET     &kp SQT      &kp GRAVE  &kp EQUAL
  &kp QMARK  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp EQUAL      &kp EQUAL                      &none              &kp DOLLAR    &kp AT_SIGN  &kp TILDE  &kp EQUAL
  &kp EQUAL  &kp LESS_THAN     &kp GREATER_THAN   &kp RU_BSLH    &kp EQUAL                      &kp A              &none         &kp EQUAL    &kp PIPE   &kp EQUAL
                                                  &none          &kp EQUAL  &kp LCTRL    &none  &kp C_VOLUME_DOWN  &kp C_VOL_UP
            >;
        };

        mous {
            display-name = "mous";
            bindings = <
  &none  &none  &none  &none  &none                  &none  &none  &none  &none  &none
  &none  &none  &none  &none  &none                  &none  &none  &none  &none  &none
  &none  &none  &none  &none  &none                  &none  &none  &none  &none  &none
                       &none  &none  &none    &none  &none  &none
            >;
        };

        cs2 {
            display-name = "cs2";
            bindings = <
  &kp Q  &kp W  &kp E  &kp R         &kp T                         &kp C_VOL_UP  &kp F1   &kp F2      &kp ESC  &kp LEFT_CONTROL
  &kp A  &kp S  &kp D  &kp F         &kp G                         &kp C_VOL_DN  &none    &none       &none    &kp CLCK
  &kp Z  &kp X  &kp C  &kp V         &kp B                         &kp NUBS      &kp O    &kp DELETE  &kp F4   &kp LSHFT
                       &kp LEFT_ALT  &kp LSHIFT  &none    &kp F12  &none         &kp INS
            >;
        };
    };
};
